@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-5 {
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: s5 1s infinite linear;
}
.spinner-5::before,
.spinner-5::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: s5 2s infinite;
}
.spinner-5::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes s5 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner-6 {
  width: 100px;
  height: 100px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #1e3a8a #0000;
  animation: s6 1s infinite linear;
}
.spinner-6::before,
.spinner-6::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.spinner-6::before {
  border-color: #34d399 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.spinner-6::after {
  margin: 8px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
